.gameSelector {
    width: 80%;
    height: 100%;
}

.game1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game1_header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 32px 'Arial';
    font-weight: bold;
}

.game1_content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game2_header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 32px 'Arial';
    font-weight: bold;
}

.game2_content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}